@mixin  flex($align: center, $justify: center, $wrap: nowrap, $dir: row ) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin  size($width, $height: $width) {
    width: $width;
    height: $height;
}