$min-width : 23rem;
$max-width : 55rem;

$fsize-title: 10rem;
$color-footer: #777777;
$color-completed: #d9d9d9;
$color-destroy: #cc9a9a;
$color-destroy-hover: #af5b5e;
$color-checked:#737373;
$color-border: #ededed;
$color-body :#f5f5f5;
$color-title: #AF2F2F26;
$color-primary: #E6E6E6;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);